body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Playfair Display', serif;
    background-color: antiquewhite;
}

#grid {
    display: grid;
    background-color: white;
    grid-template-columns: auto auto auto;
    box-shadow: -10px -10px 16px rgba(255, 255, 255, 0.1), 4px 4px 16px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 300px;
    padding: 0px;
    margin: 0px;
}

.grid-element {
    border: 0px solid transparent;
    transition: 3s;
}

.grid-element:hover {
    background-color: blueviolet;
    transition: 0.1s;
}

p {
    margin-top: 30px;
}

#rangeName {
    font-size: 20px;
}